html 
    head 
        title Add
    body 
        include ./ownerheaders
        
        h1 Add a new book: 
        p 
            |Book Name: 
            input(type="text",id="bkName" )
            br 
            br
            |ISBN: 
            input(type="text",id="isbn")
            br
            br
            |Price: 
            input(type="text",id="price")
            br
            br
            |Author: 
            select
                each author in authors
                    option(value = author.author, id="author") #{author.author}
            br
            br
            |Genre: 
            select
                each genre in genres
                    option(value = genre.genre, id="genre") #{genre.genre}
            br
            br
            |Number of Pages: 
            input(type="text",id="pages")
            br
            br
            |Stock: 
            input(type="text",id="stock")
            br
            br
            |Publisher: 
            select
                each publisher in publishers
                    option(value = publisher.name, id="publisher") #{publisher.name}
            br
            br
            |Cost: 
            input(type="text",id="cost")
            br
            br
            |Percent Sales: 
            input(type="text",id="psales")
        button(type="button" id="add") Add Book
        script(src="../add.js")