html 
    head 
        title Books
body 
    include ./header     






    |Book Name: 
    input(type="text",id="bkName")
    |Author name: 
    input(type="text",id="aName")
    |ISBN: 
    input(type="text",id="isbn")
    |Genre: 
    input(type="text",id="genre")
    button(type="button",id="submit") Submit