html 
    head 
        title Books
body 
    include ./headers  
    br
    br   
    strong Search
    br
    |Book Name: 
    input(type="text",id="bName")
    |Author name: 
    input(type="text",id="aName")
    br
    |ISBN: 
    input(type="text",id="isbnBook")
    |Genre: 
    input(type="text",id="genreBook")
    br
    br
    button(type="button" id="submit") Search
    br
    br
    strong List Of Books
    br
    each book in books
        input(type='checkbox',name=book.isbn,id=book.isbn) 
        a(for=book.isbn , href="/books/"+book.isbn ) #{book.bookname}
        br
    br
    br
    button(type="button" id="aCart") Add to Cart
    script(src="../search.js")