html 
    head 
        title Login Page
body      
    h1 Login Page
    span
        form(action="/login" method="post")
            |Username: 
            input(type="text" name="username" required )
            |    Password:
            input(type="password" name="password" required)
            |   
            button(type="submit") Login
    span
        h1 Register a new user
        br
        div#error(style="color:red")
        |Username: 
        input(type="textbox",id="name")
        br
        br
        |Password: 
        input(type="password",id="pass")
        br
        br
        |First Name: 
        input(type="textbook",id="first")
        br
        br
        |Last Name: 
        input(type="textbox",id="last")
        br
        br
        |Billing info: 
        input(type="textbox",id="billing")
        br
        br
        |Shipping info: 
        input(type="textbox",id="shipping")
        br
        br
        button(type="button",id="register") Register 

    
    script(src="../login.js")