html 
    head 
        title Registration Page
body 
    include ./userheaders      
    h1 Registration Page 

    form(action="/login" method="post")
        |Username: 
        input(type="text" name="username" )
        |    Password:
        input(type="password" name="password")
        |   
        button(type="button",id="login") Login
    |
    |
    |
    br
    div#error(style="color:red")
    |Username: 
    input(type="textbox",id="name")
    br
    br
    |Password: 
    input(type="password",id="pass")
    br
    br
    button(type="button",id="register") Register 

    
    script(src="../login.js")