html 
    head 
        title Registration Page
body 
    include ./userheaders      
    h1 Registration Page 

    button(type="button",id="exist") Existing User 
    |
    |
    |
    button(type="button",id="login") Register 
    br
    |Login Name: 
    input(type="text",id="login")
    br
    br
    |Password: 
    input(type="text",id="password")

    button(type="button",id="submit") Submit
    script(src="../login.js")