html 
    head 
        title Registration Page
body 
    include ./headers      
    h1 Registration Page 

    button(type="button",id="login") Login
    |
    |
    |
    button(type="button",id="register") Register 
    br
    button
    |Username: 
    input(type="textbox",id="username")
    br
    br
    |Password: 
    input(type="password",id="password")

    
    script(src="../login.js")