div#header 
    a(href="/owner") Owner Page 
    |
    |
    |
    |
    |
    |
    |
    |
    a(href="/add") Add Books
    | 
    |
    |
    |
    |
    a(href="/report") Reports
    |
    |
    |
    |
    |
    |
    a(href="/ownerBooks") Manage books
    