html 
    head 
        title Owner
body 
    include ./ownerheaders  
    a(href='/') Client Login 
    h1 Owner's Login Page
    span
        form(action="/owner" method="post")
            | Login Name: 
            input(type="text",name="username")
            | Password: 
            input(type="password",name="password")
            |
            button(type="submit") Login 