html 
    head 
        title Report 
body 
    include ./ownerheaders 
    h1 Report Summary 

    select(name="report",id="report")
        option Please Select a Report
        option(value="genre") Genre
        option(value="author") Author 
        option(value="finance") Finance 
    script(src="../report.js")