html 
    head 
        title Report 
body 
    include ./ownerheaders 
    h1 Report Summary 

    p Please Select a Report:
    br
    a(href="/finances") Finances
    br
    a(href="/genres") Genres
    br
    a(href="/authors") Authors
    br
