html 
    head 
        title Report 
    body 
        include ./headers 
        h1 Report Summary 

        select(name="report",id="report")
            option(value = "genre") Genre
            option(value="author") Author 
            option(value="expenditure") Expenditure 