html 
    head 
        title Tracking
body 
    include ./userheaders 
    h1 Tracking 
    |Enter the Tracking Number to search:
    span 
    input(type="textbox",id="searchItem") 
    span 
    span 
    button(type="button",id="search") Search
    div#found
    script(src="../tracking.js")